body {
	margin: 0;
	background-color: #ddd;
	padding: 0;
	color: #333;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
	font-size: 0.9em;
	text-align: left;	
}

#header,
#content,
#comments {
	background-color: #fff;
	max-width: 44em;
	line-height: 1.5em;
}

#header {
	margin: 1em 0 0 0;
	padding: 2em 4em 1em 2em;
}

#content,
#comments {
	margin: 0;
	padding: 1em 4em 3em 2em;
}

#header h1 {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

#content h2:first-child {
	margin-top: 0;
}